/* html body */
@media screen {
.test { border:}
.addthis_toolbox {padding:10px 0px 5px 0px}
a.more-link { color: #5dc3d2;}

.screen-reader-text {display:none}

.widget-container li, ul{ list-style:none; overflow:hidden;  padding:0px 0px 0px 0px}
.widget-container { padding:0px 0px 0px 0px; overflow:hidden}
#s { width:98%; margin:15px 0px 0px 0px; padding:2px 5px 2px 5px;}
#searchsubmit { margin-top:4px; background:#f7f7f7}
#searchsubmit:hover{ background:#ddd}
#s, #searchsubmit { border-radius:2px; border:1px solid #e6ebed}
.screen-reader-text { font-size:24px;     font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.tagcloud a{ font-size:inherit !important;}

.color-15 { color:#5dc3d2}
.color-20 { color:#f24971}

.tagbox { padding-right:5px;}

.taglink  { 
padding:0px;
}

.tagbox a, .tagbox a:visited, .tagbox a:active { }
.tags { float:left}
.tagcount {
    color: #f24971;
    font-size: 12px;
    vertical-align: super;} 
ul.xoxo { padding:0px 4px 0px 4px}
figcaption a { color:#5dc3d2;}
figcaption a:hover { text-decoration:underline; color:#5dc3d2}


html { font-family: 'Lato', sans-serif; font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height: 100%}
html, button, input, select, textarea { font-family: 'Lato', sans-serif; color: #919699; }
body { height:100%; margin: 0; font-size: 1em; line-height: 1.4; font-family: 'Lato', sans-serif; color: #919699 }
img { max-width: 100%; height: auto; }
.wrapper {
  min-height: 100%;
  height: auto !important;
  margin-bottom:10px;
}
.wrapper:after { content: ""; display: block; }
/* carousel*/
.carousel-caption { left: 20%; right: 20%; bottom: 40%; }
.carousel-caption h3 { color: #fff; font-size: 70px; }
.carousel-caption p { font-size: 55px; color: #fff; }
.carousel, .item, .active { position: relative; height: auto; margin-bottom: -50px; }
/* navbar */
nav { background: #f24971; opacity: 0.9; }
.navbar-nav>li>a { color: #fff; }
.navbar-nav>li>a:hover { color: #f24971; }
.navbar-header h4 { font-size: 15px !important; color: #ffffff !important }
.navbar-brand { padding-top: 5px !important; }
.fixed { position: fixed; top: 0; width: 100%; z-index: 1; }
/* about me */
#about-me { padding-top: 100px; }
.title-bg { color: #fff; background-color: #f24971; width: 40px; height: 8px; margin: 0 auto; margin-bottom: 40px; }
.avatar { float: right }
.img-thumbnail { border: 1px solid #f24971 !important; }
/* recipe */
#recipe { padding-top: 80px !important; }
#recipe { padding-top: 40px; }
.rec-title { float:left; width:100%}
.rec-title-single { float:left; width:100%; padding-bottom:10px;}
h2.rec-title, h2.rec-title-singleh, .title { font-size: 30px !important; margin-top: 5px !important; margin-bottom: 5px !important; text-align:center }
a.rec-title, a.title, a.rec-title-single { font-size: 20px !important }

h4.rec-title, h4.title, h4.rec-title-single { font-size: 25px; margin-top: 5px !important; margin-bottom: 5px !important }
rec-title h1 { font-size: 25px !important; margin-top: 5px !important; margin-bottom: 5px !important }
body ul.recipe { list-style: none; margin: 0px 0px 55px 0px; padding: 0px; }
body ul.recipe li { margin: 0px; padding: 0px; border-bottom: 1px dotted #dddddd; }
ul.recipe li:nth-child(even) #rec-sum { float: left; }
ul.recipe li:nth-child(even) #rec-photo { float: right}
#rec-sum { float: right; width: 50%; padding: 40px 0px 40px 0px; }
#rec-photo { float: left; width: 50%; padding: 0px 0px 0px 0px; }
.rec-sum-content-padding { padding-left: 20px !important; padding-right: 20px !important; margin-top:-15px; }
body ul.recipe li:nth-child(even) .rec-sum-content-padding { padding-right: 40px !important; padding-left: 0px !important; }
.rec-summary { padding: 10px 0px 0px 0px !important; width: 100%; text-align:justify }
.rec-summary-home { padding: 10px 0px 10px 0px !important; width: 100%; text-align:justify }
.rec-by { font-size: 90%; font-style: italic; padding-top: 12px; }
.rec-by-home { font-size: 90%; font-style: italic; padding-top: 12px;}
.rec-by-photo, .rec-by-photo-home { float: left; }
.rec-by-photo img, .rec-by-photo-home img { -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 50px; border: 3px solid #ebf0f2; margin-right: 5px; }

.rec-by-photo img { -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 50px; border: 3px solid #ebf0f2; margin-right: 5px; }
.rec-comment-rating { display: none; margin-bottom: 5px; margin: 0px 8px 5px 0px; float: right }
.rec-comment-rating img { width: 90px; }
.rec-comment-rating { margin-bottom: 25px; }
.rec-comment-rating-sum { margin-bottom: 0px; float: left; width: 90px; display:none }
.recent-recipe li { list-style: none !important }
* .cook-time { float: left; }
.cook-time { float: left; font-size: 15px; color: #919699; padding-top: 5px; margin-right: 20px; }
.cook-time i { font-size: 18px; }
.serving { margin-left: 10px; padding-top: 5px; }
.light-text { opacity: 0.4 }
.author-meta-pro img { -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; border: 3px solid #ebf0f2; margin-right: 5px; }
.no-padding { padding:0px 0px 0px 0px !important }
p { font-size: 15px; line-height: 1.6 }
h2 { font-size: 30px !important }
	/* Comments Single */
.left { float: left; }
.title-container { padding: 40px 0; margin-top: 20px; text-align: center; }
.fb-share, .twt-share, .insta-share { font-size:35px !important}
.fb-share { color:#3b5998;}
.twt-share {color:	#10dffd}
.insta-share { color:#3f729b}
.social-platform { width:33.33%; float:left; text-align:center}
/* category*/
.category li { }
.category a { color: #fff }
.category-section { background-color: #f24971; color: #fff; padding: 90px 0px 80px 0px }
.category-section h3 { color: #fff; }
.cat-archive-box { padding-left: 0px; clear:both !important }
.circle img { border-radius: 1px; border: 1px solid #fff; width: 80px; height: auto; }
.circle { padding: 2px 2px 2px 2px; }
.circle a { color: #FFF; }
/* footer */
.footer-container { width: 1140px; margin: 0 auto; }
.footer-container { -moz-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; }
.copyright { color: #8f9294; font-size: 95%; padding: 40px 0px 36px 0px; }
.social-icon { float: right; text-align: right }
footer { background: #2e3030; }
footer a { color: #fff; }
footer a:hover { color: #fff; }
.modal-footer { margin-top:0px}
/* -------------------- B. CSS3 TRANSITIONS -------------------- */
.social-icons-effect { float: left; margin-right: 3%; min-height: 2px; width: 45%; }
.social-icons-effect { float: left; margin-left: 0%; }
.email, .fb, .insta { float: right; text-align: center; padding: 14px 12px; background: #444444; border-radius: 1px; margin-left: 10px; min-width: 40px; transition: background 0.5s ease, padding 0.8s linear; margin-top: -9px; }
.email:hover { background: #888; }
.fb:hover { background: #4161a2; }
.insta:hover { background: #437297; }
.share-print { float:right; margin-top:20px;}
.share, .print{color:#5dc3d2; float: right; text-align: center; padding: 14px 12px; background: #f7f7f7; border-radius: 1px; margin-left: 10px; min-width: 40px; transition: background 0.5s ease, padding 0.8s linear; margin-top: 0px; cursor:pointer }
.share:hover, .print:hover { background: #ddd; }
.acf-form-submit input.button, input#search-recipes-btn, .share-button-pro, .ls-sc-toggle .ls-sc-toggle-trigger, a, .social-ico a i, body input.wpcf7-submit, body input#submit, button, input.button, a.ls-sc-button.secondary .ls-sc-button-inner, .social-likes div { -webkit-transition-duration: 150ms; -webkit-transition-property: color, background-color, opacity, border; -webkit-transition-timing-function: ease-in-out; -moz-transition-duration: 150ms; -moz-transition-property: color, background-color, opacity, border; -moz-transition-timing-function: ease-in-out; -o-transition-duration: 150ms; -o-transition-property: color, background-color, opacity, border; -o-transition-timing-function: ease-in-out; transition-duration: 150ms; transition-property: color, background-color, opacity, border; }
p.stars a { -webkit-transition-duration: 0ms !important; -moz-transition-duration: 0ms !important; -o-transition-duration: 0ms !important; transition-duration: 0ms !important; }

.icon-bar { background: #FFFFFF !important }
/* recipe ingredients */
.rec-by a, .rec-by-home a { color: #5dc3d2}
.rec-title a, .rec-title-single a { color: #5dc3d2 }
.recipe-ingredients ol { margin: 25px 0px 45px 0px; }
.recipe-ingredients ul { list-style: none; margin: 25px 0px 0px 0px; border: 1px solid #e6ebed; background: #fafafa; padding: 15px 35px 0px 35px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #919699 }
.recipe-ingredients ul li { line-height: 1.2; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #dddddd; }
.recipe-ingredients ul li:last-child { border-bottom: none; }


.recipe-ingredients ol { list-style-type: none; counter-reset: ol-counter; }
.recipe-ingredients ol li { color: #919699; margin-bottom: 35px; position: relative; margin-left: 35px; }
.recipe-ingredients ol > li:before { position: absolute; display: inline-block; text-align: center; padding: 5px 2px; min-width: 30px; top: -3px; left: -45px; border: 1px solid #5dc3d2; color: #5dc3d2; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; content: counter(ol-counter); counter-increment: ol-counter; }
.recipe-ingredients h3 { font-weight: 900; font-size: 21px; color: #919699 }
.rec-content { padding-bottom: 10px; }
.rec-content img { width: 100%; height: auto }
/* sidebar */
#sidebar {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; overflow: hidden; }
.side {background: #f7f7f7}
#rec-cat-btn span { color: #919699; }
#rec-cat { border-top: 1px dotted #ddd; border-bottom: 1px dotted #ddd; margin: 15px 0px; padding: 12px 20px 12px 0px; }
.rec-cat a, .rec-ing a { color: #5dc3d2 }
#rec-cat-btn span { font-weight: 900; font-size: 20px; padding-right: 5px; }
#rec-cat-btn ul, #rec-cat-btn ul li { display: inline; margin: 0px; padding: 0px; }
#rec-cat-btn ul li:last-child i { display: none; }
#rec-cat-btn ul li i { font-size: 8px; opacity: 0.5; position: relative; top: -2px; }
#rec-cat-btn ul a{ color: #ffffff; background-color: #5dc3d2; text-decoration: none; line-height: 1; cursor: pointer; display: inline-block; border: none; width: auto; margin: 0px 3px 5px 3px; font-weight: 700; font-size: 13px; padding: 9px 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
a.comment-reply-link { color: #ffffff; background-color: #5dc3d2; text-decoration: none; line-height: 1; cursor: pointer; display:
 inline-block; border: none; width: auto; margin: 0px 3px 5px 3px; font-weight: 700; font-size: 13px; padding: 9px 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
body input#submit { background: #5dc3d2; color: #fff; line-height: 1; cursor: pointer; border: none; margin: 0px 5px 5px 0px; font-weight: 900; font-size: 14px; padding: 18px 35px; width: auto; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 35px; }
body input#submit:hover { background: #999 }
/* breadcrum */
.width-container { width: 1140px; margin: 0 auto; }
#bread-crumb { padding: 15px 0px 15px 0px;   line-height: 1; font-size: 13px; margin: 0px 0px 0px 0px; color: #bbbbbb; font-weight: normal }
#bread-crumb a { color: #bbbbbb; font-weight: 700; font-size: 30px }
#bread-crumb a:hover { color: #5dc3d2; }
#bread-crumb span.divider { position: relative; top: -2px; padding: 0px 2px; font-size: 8px; opacity: 0.7; }
.sfa-home { padding-left: 40px; }
.grid2column-progression { float: left; margin-right: 3%; min-height: 2px; }
.grid2column-progression { width: 45%; }
#recipe-meta-info { margin-left: 90px; }
 @charset "utf-8";
/*comments*/
#comment, #author, #email { border:1px solid #e6ebed; padding:2px 2px 2px 5px; }
.navigation { display: none; }
.comment-list, .children { list-style: none !important; }
.children { border-left: 1px solid #f1f1f1; margin-left: 40px; }
.comment-meta { background: none; }
.comment-metadata { margin-bottom: 5px; }
.comment-metadata time { color: #919699; }
.comment-content { border: 1px solid #f1f1f1; /* min-height: 200px; */ border-radius: 4px; padding-left: 5px; margin-bottom: 5px; background-color: #fafafa; }
.reply { margin-top: 5px; }
.comment-author img { display: none; }
.comment-awaiting-moderation { border: 1px solid #F09; border-radius: 4px; margin-bottom: 0px !important; padding: 2px 2px 2px 2px; }
.says { display: none; }
label { display:none}
.comment-form-comment label, #author label, #email label { display: none}
.comment-form-url {display:none}
.comments-title, .fn, .comment-reply-title, .comment-notes, .comment-form-comment label, .comment-content { color: #919699 }
/* Recipe Taxonomy Menu */
ul#taxonomy_pro_recipe { list-style: none; padding: 0px; text-align: left; }
ul#taxonomy_pro_recipe li { display: inline; margin: 0px; margin-right: 5px; }
ul#taxonomy_pro_recipe li a { text-decoration: none; line-height: 1; cursor: pointer; display: inline-block; font-size: 16px; padding: 16px 24px; margin-bottom: 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
ul#taxonomy_pro_recipe li.current-cat a, ul#taxonomy_pro_recipe li a:hover { color: #ffffff; border-color: #5dc3d2; background-color: #5dc3d2; }
ul#taxonomy_pro_recipe li a { color: #bbbbbb; border: 1px solid #dddddd; background-color: #fafafa; }
#content-container { float: left; width: 100%; }
.rec-title-cat a { color: #5dc3d2; }
.cat-item-display { width: 50%; float: left }
.cat-item-img { float: left; width: 33%; margin-top: 10px; }
.cat-item-img img { border-radius: 2px; }
.cat-item-sum { padding: 0px 5px 0px 10px; float: left }
.cat-item-title { }
.cat-item-prep-time { }
h4.rec-title-cat {  margin-bottom: 5px !important;}
.rec-arc { padding-top: 0px !important; }

/* check for use */
body { position: relative; }
/* MQ */

.url {display:none}

@media only screen and (max-width: 480px) {
#carousel-example-generic { display: none }
.slider1, .bx-wrapper { display: none }
#recipe-meta-info { margin-left: 0px !important; }
/*.print { display: none !important }*/
#sidebar, .side { display: none }
.cat-item-sum { padding: 0px 5px 0px 10px !important }
.cat-item-display { width: 100%; float: left }
}
@media only screen and (max-width: 767px) {
#bread-crumb a {
    color: #bbbbbb;
    font-weight: 700;
    font-size: 15px;
}
.slider, .bx-wrapper { display: none !important }
#sidebar, .side { display: none }
.navbar-header h4 { font-size: 15px !important; color: #ffffff !important }
.navbar-brand { padding-top: 5px !important; }
.carousel-caption { top: 27%; bottom: 40%; }
.carousel-caption h3 { font-size: 25px; }
.carousel-caption p { font-size: 20px; }
#about-me { padding-top: 80px !important; }
h2.rec-title { font-size: 30px !important; margin-top: 5px !important; margin-bottom: 5px !important }
h4.rec-title { font-size: 15px; margin-top: 5px !important; margin-bottom: 5px !important }
.title-bg { color: #fff; background-color: #f24971; width: 40px; height: 8px; margin: 0 auto; margin-bottom: 20px !important; }
p { font-size: 15px; line-height: 1.6 }
#recipe { padding-top: 80px !important; }
#rec-sum { float: right; width: 100% !important; padding: 0px 0px 0px 0px;}
#rec-photo { float: left; width: 100% !important;}
.rec-title { float:left; width:100%}
a.rec-title { font-size: 20px !important }
h1 { font-size: 20px !important }
h2 { font-size: 30px !important }
h4 { font-size: 15px !important }

.cook-time { font-size: 15px !important; padding-top: 0px !important; margin-right: 20px; }
.cook-time i { font-size: 15px !important; }

.rec-by-photo { margin-top:-10px; margin-bottom:10px}
.rec-by-photo img { width: 85% !important }
.rec-by { font-size: 80% !important; font-style: italic; padding-top:0px}
.rec-comment-rating { margin-bottom: 0px !important; padding-top: 0px !important }
.rec-comment-rating img { width: 80px !important; }
ul.recipe { margin-bottom: 0px !important }


body ul.recipe li:nth-child(even)  .rec-sum-content-padding{ padding-right: 20px !important; padding-left: 20px !important; }
.rec-sum-content-padding { float: left; width: 100% !important }

.recipe-ingredients ol {
    margin: 25px 0px 45px -25px;
}
/*.recipe-ingredients ul li { margin-left:-25px}*/
.recipe-ingredients ul { padding:15px 15px 0px 15px}
.share-print {margin-top:0px;}
/*.print { display: none !important }*/
.share { margin-top: 20px; }

.navbar-nav li:nth-child(1) { display: none !important }
.img-thumbnail { width: 20% }
.category li, recent-recipe li { font-size: 15px !important; }
.recent-recipe li { list-style: disc !important }
.category a { color: #fff }
.category-section { padding: 0px 0px 0px 0px !important }
.category-section h3 { font-size: 20px !important }
.circle img { display: none !important }
.circle { padding: 0px !important; }
.circel ul { margin-bottom: 0px !important }
#comment, #author, #email { width:98%;}
.footer-container { width: 1140px; margin: 0 auto; }
.footer-container { -moz-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; }
.copyright { font-size: 80% !important; padding: 20px 0px 20px 0px !important; }
footer { background: #2e3030; }
#footer { background: #ffab62; width: 100%; height: 100px; position: absolute; bottom: 0; left: 0; }
footer a { color: #fff; }
footer a:hover { color: #fff; }
.email, .fb, .insta { padding: 10px 2px !important; margin-left: 5px !important; min-width: 30px !important; margin-top: -6px !important }
.social-icons-effect { width: 100%; margin-bottom: 10px; float: none; }
.email { margin-right: 20px; }
.copyright { margin-left: 20px; }
#copyrigh-text { float: none; text-align: center; padding-bottom: 0px; }

.cat-item-prep-time { font-size:80%; }
.cat-item-sum { padding: 0px 5px 0px 10px; float: left }


ul#taxonomy_pro_recipe li a {
    font-size: 10px !important;
    padding: 8px 15px !important;
    margin-bottom: 4px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}

}
 @media (min-width: 768px) and (max-width: 991px) {
.carousel-caption { top: 27%; bottom: 40%; }
.carousel-caption h3 { color: #fff; font-size: 40px; }
.carousel-caption p { font-size: 20px; color: #fff; }
#about-me { padding-top: 80px !important; }
#rec-sum { float: right; width: 100% !important; padding: 0px 0px 0px 0px !important; }
#rec-photo { float: left; width: 100% !important; padding: 0px 0px 0px 0px !important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
.carousel-caption { top: 32%; bottom: 40%; }
.carousel-caption h3 { color: #fff; font-size: 40px; }
.carousel-caption p { font-size: 20px; color: #fff; }
#about-me { padding-top: 80px !important; }
.img-thumbnail { width: 60% !important }
}


}
@media print {
	body { font-family:"Courier New", Courier, monospace; font-size:12px;}
	@page :left {
margin: 0.5cm;
}

@page :right {
margin: 0.8cm;
}
footer, header, #comments, .rec-comment-rating-sum, #bread-crumb, .meta-nav, .post-nav, .addthis_toolbox, figure, #sidebar, .bx-wrapper {display:none}
.url { display:block}

}

